include ../../lang.pug

html
    head
        title= get_lang("hello_error")
        style(href='/css/index.css')
    body
        h1 NGINX Static Router Example
        span It's PC 404!!!
        hr
        h2= get_lang("hello_error")
